* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: url("../img/background.png");
}

.Main {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin: 10% 0;
  z-index: 1;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  margin: 0 10%;
}

.Picture__Section .Picture__Section__Image {
  width: 38rem;
  height: 38rem;
}

#textHomeContent {
  display: flex;
  flex-direction: column;
}

h1 {
  font-family: "Kaushan Script", cursive;
  font-size: 6em;
  font-weight: bold;
  color: #f2293c;
  text-shadow: 1px 1px 1px #000;
  white-space: nowrap;
  text-align: center;
}
span {
  font-size: 2em;
  color: #000;
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  white-space: nowrap;
}
p {
  text-align: center;
}

@media (max-width: 1450px) {
  .Main {
    flex-direction: column;
    margin: 8% 0 0 0;
  }
  #textHomeContent {
    h1 {
      font-size: 4em;
    }
    span {
      font-size: 2em;
    }
  }
}

@media (max-width: 870px) {
  .Main {
    flex-direction: column;
    margin: 8% 0 ;
  }
}

@media (max-width: 700px) {
  .Main {
    flex-direction: column;
    margin: 10% 0 ;
  }
}

@media (max-width: 633px) {
  .Main {
    flex-direction: column;
    margin: 15% 0;
  }
  #textHomeContent {
    h1 {
      font-size: 2em;
    }
    span {
      font-size: 1.5em;
    }
  }
  .Picture__Section .Picture__Section__Image {
    width: 400px;
    height: 400px;
  }
}

@media (max-width: 433px) {
  @media (max-width: 633px) {
    .Main {
      flex-direction: column;
      margin: 17% 0;
    }
  }
  .Picture__Section .Picture__Section__Image {
    width: 300px;
    height: 300px;
  }
}